h1 Thăm ngàn

a(href='/todos/create') Create

form(action="/todos/search", method="GET")
  input(type="text", name='q', value=question)
  button Search
  
ul
  each work in works
    li
      span= work.name
      span &nbsp;
      a(href='/todos/' + work.id) View